.balloon {
    position        : absolute;
    /* width           : 100px;
    height          : 100px;
    background-color: aqua; */
    border-radius   : 50%;
    
}

html,
body {
    width : 99.6%;
    height: 99.6%;
}